@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("play.google.com") {
  .material-detail-view .has-hero-image {
    margin-top: 0;
  }
  .material-container {
    border-radius: 0;
  }
  .material-shadow-z1 {
    box-shadow: none;
    transition: none;
  }
  .material-card {
    border-radius: 0;
  }
  .material-card .image-wrapper {
    border-radius: 0;
  }
  .material-card .image-inner-wrapper {
    border-radius: 0;
  }
  .material-card .image {
    border-radius: 0;
  }
  paper-fab.paper-fab-0 {
    display: none;
  }
  core-header-panel#content-container.transparent #material-app-bar, paper-header-panel#content-container.transparent #material-app-bar {
    background-color: #ef6c00;
  }
  core-drawer-panel core-image#material-hero-image, paper-drawer-panel iron-image#material-hero-image {
    display: none;
  }
  core-header-panel #music-content.material .g-content, paper-header-panel #music-content.material .g-content {
    margin: 16px 16px 30px 16px;
  }
  .material-card.material-shadow-z1:hover, .material-card.material-shadow-z1.focused, .entity-card.material-card:hover .material-shadow-z1, .entity-card.material-card.focused .material-shadow-z1 {
    box-shadow: none;
    transition: none;
  }
  #player {
    box-shadow: none;
  }
  #gbwa {
    display: none;
  }
  .gb_ic.gb_Zc.gb_R.gb_jc {
    display: none;
  }
  .gb_Zc {
    padding: 0 0 0 90px;
  }
  .transition.paper-drawer-panel > #drawer.paper-drawer-panel {
    transition: none;
  }
}
