.material-detail-view .has-hero-image, .solid-hero .material-detail-view .has-hero-image {
    margin-top: 0;
  }
  .material-card, .material-card .image-wrapper, .material-card .image-inner-wrapper, .material-card .image, .material-container {
    border-radius: 0;
  }
  core-header-panel#content-container.transparent #material-app-bar, paper-header-panel#content-container.transparent #material-app-bar {
   background-color: #ef6c00;
  }
  .gb_ic.gb_Zc.gb_R.gb_jc, #gbwa, paper-fab.paper-fab-0, core-drawer-panel core-image#material-hero-image, paper-drawer-panel iron-image#material-hero-image, .gb_ic gb_0c, .gb_R gb_jc, .gb_lc, .gb_mc, .gb_nc gb_Nb, a.nav-item-container[data-action="help-and-feedback"], a.nav-item-container[data-id="auto-playlist-trash"], a.nav-item-container[data-action="send-gift"] {
    display: none;
  }
  core-header-panel #music-content.material .g-content, paper-header-panel #music-content.material .g-content {
   margin: 16px 16px 30px 16px;
  }
  .material-shadow-z1, #player, .material-card.material-shadow-z1:hover, .material-card.material-shadow-z1.focused, .entity-card.material-card:hover .material-shadow-z1, .entity-card.material-card.focused .material-shadow-z1 {
    box-shadow: none;
  }
  .gb_Zc {
    padding: 0 0 0 90px;
  }
  .cluster .lane-button.prev {
    left: -30px;
  }
  .cluster .lane-button.next {
    right: -30px;
  }
  *, .material-shadow-z1, sj-mini-queue.sj-mini-queue-0 {
    transition: none !important;
    box-shadow: none !important; 
    border-radius: 0 !important;
  }
#material-app-bar, .paper-progress-0 #primaryProgress.paper-progress, .paper-slider-0 #sliderKnobInner.paper-slider, sj-paper-button.material-primary, paper-button.material-primary, .material .song-row .explicit, .paper-progress-1 #primaryProgress.paper-progress, .paper-slider-1 #sliderKnobInner.paper-slider, #current-loading-progress, .material-card .explicit, paper-toggle-button.paper-toggle-button-0[checked]:not([disabled]) .toggle-button.paper-toggle-button, paper-toggle-button.paper-toggle-button-0[checked]:not([disabled]) .toggle-bar.paper-toggle-button {
    background-color: #319298;
}
.material .nav-item-container.selected, .nav-item-container.selected iron-icon, #player.material .material-player-middle sj-icon-button[data-id="play-pause"]:not([disabled]), #player.material .material-player-middle paper-icon-button[data-id="play-pause"]:not([disabled]), .more-songs-container, .top-charts-view .song-row [data-col="index"] .column-content, .material-card .details .left-items .index, .material .goog-menu .goog-menuitem.selected .goog-menuitem-content, .material .goog-menu .goog-menuitem.selected .goog-menuitem-content:hover, .cluster .lane-button core-icon, .cluster .lane-button iron-icon, #player.material .material-player-middle paper-icon-button[data-id="repeat"].active, #player.material .material-player-middle paper-icon-button[data-id="shuffle"].active, #player.material #material-player-right-wrapper paper-icon-button[data-id="queue"].opened, #current-loading-progress, .material-detail-view .material-container-details .read-more-button, paper-action-dialog sj-paper-button:not([disabled]), paper-dialog .buttons paper-button:not([disabled]), .material a.primary {
    color: #319298 !important;
}
.paper-spinner-lite-1 .spinner-layer.paper-spinner-lite, #loading-overlay.material paper-spinner-lite .circle {
    border-color: #319298;
}
sj-search-box.sj-search-box-0[opened] {
    border: 2px solid #319298;
}
.material-card {
    /*border-bottom: 2px solid #319298;*/
}

.circle.paper-spinner-lite, #sliderKnobInner.paper-slider {
    border-radius: 50% !important;
}
core-drawer-panel:not([narrow]) core-header-panel #music-content.material .g-content, paper-drawer-panel:not([narrow]) paper-header-panel #music-content.material .g-content {
    margin: 16px 16px 30px 16px;
}
  #mini-queue-details .imfl-image {
    background: none;
    background-color: #319298;
  }
  #mini-queue-details .images {
    opacity: 1;
    border-radius: 0;
  }
  .paper-header-panel-0 #dropShadow.paper-header-panel, sj-mini-queue #mini-queue-details.sj-mini-queue::after, #queue-overlay::after {
    box-shadow: none !important;
  }
  
